{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="shadow  p-3 mb-5 bg-white rounded container col-3" style="margin-top: 50px">

        {{ form_start(loginForm) }}

        {% if error %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {{ form_widget(loginForm) }}

        <div class="row">
            <div style="margin: 0 auto;">
                <button type="submit" style="text-align: center; display:inline-block" class="btn btn-primary">Sign in</button>
                <a style="text-align: center; display:inline-block" href="{{ url('user_registration') }}" class="btn btn-primary">Register</a>
            </div>
        </div>

        {{ form_end(loginForm) }}

    </div>
{% endblock %}