{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <style>
        .checked {
            color: orange;
        }
    </style>
    <br>
    <div class="container">
        <div class="row">
            {% if formCategory is defined %}
                <div class="col-3">
                    {{ form_start(formCategory) }}

                    {{ form_widget(formCategory) }}
                </div>

                <div class="col-3">
                    <button type="submit" class="btn btn-primary" style="bottom: 0; position: absolute; margin-bottom: 5%;">Filter</button>
                </div>

                {{ form_end(formCategory) }}
            {% endif %}
        </div>
        <hr>
        <div class="row">
            {% for movie in movies %}
                <div class="col-lg-3 col-sm-1 col-md-5 card text-white bg-primary mb-3" onclick="location.href='{{ path("movie", {"id": movie.id }) }}'" style="cursor: pointer; margin-left: 5%;">
                        <div class="card-header">{{ movie.title }}</div>
                        {% if movie.votecount %}
                            <div>
                            <i class="fas fa-star" aria-hidden="true"></i>
                            {{ movie.voteaverage }}/10 ({{ movie.votecount }} votes)
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <img src="{{ movie.pathPicture }}" alt="image" style="width: 200px;">
                            <h4 class="card-title" style="margin-top: 10px">{{ movie.title }}</h4>
                            ({{ movie.releaseDate|date('Y-m-d') }})
                            <p class="card-text">{{ movie.director }}</p>
                            -
                            <p class="card-text">
                                {% for category in movie.categories %}
                                    {# Separator between categories #}
                                    {% if not loop.first %}
                                        -
                                    {% endif %}
                                    {{ category.libelle }}
                                {% endfor %}
                            </p>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
