{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    {% if(movie != null)  %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="{{ movie.picture }}" alt="{{ movie.title }}" style="width: 100%;">
            </div>
            <div class="col-7">
                <div class="jumbotron">
                    <h1>{{ movie.title }}</h1>
                    <h3>{{ movie.releaseDate|date('d-m-Y') }}</h3>
                    <hr>
                    <p>{{ movie.synopsis }}</p>

                    <p>Duration : {{ movie.duration }} minutes</p>
                    <p>Director : {{ movie.director }}</p>
                </div>
            </div>
            <div class="col-2">
                <p>
                    <a class="btn btn-secondary" href="{{ path("addHistoryRow", {'id': movie.id}) }}" role="button">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        I have seen this movie
                    </a>
                </p>
                <p>
                    <a class="btn btn-secondary" href='{{ path("add_watchlist", {"id": movie.id }) }}' role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add to my wishlist
                    </a>
                </p>
                <p>
                    <a class="btn btn-secondary" href="{{ url('modify_movie', {'id': movie.id}) }}" role="button">
                        <i class="fas fa-file-signature" aria-hidden="true"></i>
                        Modify
                    </a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
