{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    {% if(movie != null)  %}
    <style>
        .modal-backdrop.in {
            opacity: 0.4;
        }
    </style>
    <br>
    <div class="container">
        <div class="modal" id="confirmModal">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add movie to my history</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_start(rateForm) }}
                            <div style="text-align: center;">
                                {{ form_label(rateForm.note) }}
                                {{ form_widget(rateForm.note) }}
                            </div>
                        </div>
                    </div>
                    <p>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" onclick="location.href='#'">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </p>
                    {{ form_end(rateForm) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-1 col-md-5">
                <img src="{{ movie.picture }}" alt="{{ movie.title }}" style="width: 100%;">
            </div>
            <div class="col-7">
                <div class="jumbotron">
                    <h1>{{ movie.title }}</h1>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    {{ movie.voteaverage }}/10 ({{ movie.votecount }} votes)
                    <h3>{{ movie.releaseDate|date('d-m-Y') }}</h3>
                    <hr>
                    <p>{{ movie.synopsis }}</p>

                    <p>Duration : {{ movie.duration }} minutes</p>
                    <p>Director : {{ movie.director }}</p>
                </div>
            </div>
            <div class="col-2">

                    <a class="btn btn-outline-primary" href="{{ movie.videokey }}" role="button" target="_blank" style="white-space: unset;">
                        <i class="fa fa-link" aria-hidden="true"></i>
                        Watch trailer
                    </a>
                </p>

                <p>
                    <a class="btn btn-secondary" type="submti" href="#" data-toggle="modal" data-target="#confirmModal" style="white-space: unset;">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        I have seen this movie
                    </a>
                </p>


                <p>
                    <a class="btn btn-secondary" href='{{ path("add_watchlist", {"id": movie.id }) }}' role="button" style="white-space: unset;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add to my wishlist
                    </a>
                </p>
                <p>
                    {% if is_granted('ROLE_ADMIN')  %}
                        <a class="btn btn-secondary" href="{{ url('modify_movie', {'id': movie.id}) }}" role="button" style="white-space: unset;">
                            <i class="fas fa-file-signature" aria-hidden="true"></i>
                            Modify
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
