{% extends 'base.html.twig' %}

{% block title %}Watchlist{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table table-striped table-bordered dataTable" id="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Director</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for movie in watchlist.movies %}
                    <tr>
                        <td>{{ movie.id }}</td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.releaseDate|date('d-m-Y') }}</td>
                        <td>{{ movie.director }}</td>
                        <td>
                        {% for category in movie.categories %}
                            {{ category.libelle }}<br>
                        {% endfor %}
                        </td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#confirmModal">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{% endblock %}
