<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ asset("css/datatable.min.css") }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/default.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('img/logo.ico') }}">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
    {% if is_granted('ROLE_ADMIN') %}
        {% include('base/navbar_admin.html.twig') %}
    {% elseif is_granted('ROLE_USER')%}
        {% include('base/navbar_user.html.twig') %}
    {% else %}
        {% include('base/navbar_offline.html.twig') %}
    {% endif %}

    {% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-4"></div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="col-4 alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-4"></div>
        </div>
    </div>
    {% endblock %}


    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>

    <script>
        function randombg(){
            var random= Math.floor(Math.random() * 6) + 0;
            var bigSize = ["url(https://images.pexels.com/photos/1146134/pexels-photo-1146134.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')"];
            document.getElementById("random").style.backgroundImage=bigSize[random];
        }
    </script>
</div>
    {% block script %}  {% endblock %}
<<<<<<< HEAD

=======
>>>>>>> master
</body>
</html>