<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ asset("css/datatable.min.css") }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('img/logo.ico') }}">
    <title>{% block title %} Title {% endblock %}</title>
    <style>
        td,th {
            padding: 20px!important;
            text-align: center;
        }
        th:hover{
            /*background: #1a1a1a;*/
            color: #1a1a1a;
        }
        tbody tr:hover{
            background: #d6d6d6!important;
        }
        #table_wrapper input, #table_wrapper select{
            border: 1px solid #ccc;
            border-radius: 6px;
            height: 30px;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    {% if is_granted('ROLE_ADMIN') %}
        {% include('base/navbar_admin.html.twig') %}
    {% elseif is_granted('ROLE_USER')%}
        {% include('base/navbar_user.html.twig') %}
    {% else %}
        {% include('base/navbar_offline.html.twig') %}
    {% endif %}

    {% block body %}
    {% endblock %}

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
</body>
</html>