{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}

<div class="shadow  p-3 mb-5 bg-white rounded container col-3" style="margin-top: 50px">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_start(registerForm) }}

    {{ form_label(registerForm.email) }}
    {{ form_widget(registerForm.email) }}

    {{ form_widget(registerForm) }}

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>

    {{ form_end(registerForm) }}
</div>
{% endblock %}